.toast-container{
    
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    opacity: 0;
    animation: toastFadeInOut 4s ease-in-out forwards;
}

@keyframes toastFadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}