:root{
    --navigation-title-color: #2B2D42;
}

body{
    padding: 11vh 0 0 0;
}

.textNavbarTitle{
    color: var(--navigation-title-color) !important;
}

.navbarCustom{
    height: 10vh;
    background-color: white;
}