*{
    margin: 0;
    padding: 0;
}

#gameTitle{
    font-family: "Poppins";
    font-size: 3rem;
    justify-self: center
}

#instruction{
    font-family: "Poppins";
    font-size: 1.5rem;
    padding: 10px;
    justify-self: center
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options{
    padding: 50px;
    height: 30vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.options img{
    height: 30vmin;
    width: 50vmin;
    border-radius: 20px;
    cursor: pointer;
}

.count{
    display: flex;
    gap: 50px;
    text-align: center;
    line-height: 2rem;
    font-family: "Poppins";
    font-weight: 300;
}

.scoreCard{
    color: red;
}